<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding main">
    <ion-row class="ion-d-flex ion-justify-content-center ion-align-items-center ion-padding-vertical">
      <ion-text>
        <h5 class="ion-text-center">
          We would love to hear from you, Please drop us a line if you have any query or suggestion.
        </h5>
      </ion-text>
      <ion-text class="ion-text-center ion-padding-vertical">
        <h5 color="primary">
          Email Us
        </h5>
        <a href="mailto:corlogixhelp@gmail.com">
          <ion-button class="mail-btn" shape="round" expand="full">
            corlogixhelp@gmail.com
          </ion-button>
        </a>
      </ion-text>
    </ion-row>
      <img class="contact-image" src="./../../assets/images/contact.svg">
  </ion-grid>
</ion-content>
