ion-card {
  border-radius: 12px;
  margin-bottom: 25px;
}
.quote-text {
  display: flex;
  flex-direction: column;
  color: black;
  // background: linear-gradient(135deg, rgba(128, 170, 191, 0.9), rgba(128, 170, 191, 1),rgba(128, 170, 191, 1), rgba(128, 170, 191, 0.9));
  background: #fff;
  // min-height: 350px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-weight: bold;
  font-family: "raleway-reg", serif;
  letter-spacing: 0.8px;
  p {
    margin: 10px 0;
  }
}
.tools-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
  background: var(--ion-color-primary-tint);
}

ion-icon {
  font-size: 26px;
}



@media only screen and (max-width: 321px) {
  p {
    max-height: 340px !important;
  }
}
